<div class="section">
  
  <div class="CTA">
    <div class="section has-text-centered"  style="z-index:9;position:relative;margin-bottom:-20px;">
      <a name="register">
        <h3 class="title">
          Have questions?
        </h3>
      </a>
    </div>
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <p>QuikPath Listeria, E. coli, Salmonella, and Campylobacter tests are currently in private beta. Share your name and work email and we'll reach out with more details! </p>
        </div>
        <div class="column is-4">
          {{>form}}
        </div>
      </div>
    </div>
  </div>
</div>