<div class="section">
  
  <div class="CTA">
      <div class="section has-text-centered"  style="z-index:9;position:relative;margin-bottom:-50px;">
        <a name="register"><h3 class="title">Join our waiting list</h3></a>
      </div>
    </div>

    <div class="section cta-section">
      <div class="container">
        <div class="columns is-centered ">
          <div class="column is-4">
          <p>QuikPath is currently in private beta. Tell us your name and email and we'll notify you as soon as we launch publicly! </p>
          </div>
          <div class="column is-4">
            {{>form}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>