<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Release the line with confidence</h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
  				<h3>1 Tube</h3>
  				<h4>
  					Designed to be used by sanitation teams right at the plant - without a lab or special skills.
  				</h4>
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-dashboard size-lg"></i>
          </figure>
          <h3>1 CFU</h3>
  				<h4>
						Detects 1 CFU per swab with 95% confidence, so you can seek and destroy every pathogen.
          </h4>
        </div>
  	  </div>
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
						<i class="lni-bolt size-lg"></i>
  				</figure>
          <h3>1 hour</h3>
          <h4>
            Less than 60 minutes total time-to-result, so you can reclean immediately if you get a positive.
          </h4>
  			</div>
      </div>
    </div>
  </div>

</div>
