<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Make faster decisions</h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-bolt size-lg"></i>
  				</figure>
  				<h3>QUICK</h3>
  				<h4>
						Stop waiting for numbers to come back from the lab - get quantitive results right at the plant.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
  				<h3>EASY</h3>
  				<h4>
  					Designed to be used by production staff - no lab space or technicians required.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-dashboard size-lg"></i>
          </figure>
          <h3>ACCURATE</h3>
          <h4>
           Matches the sensitivity of a PCR, so you can be confident with every decision.

          </h4>
        </div>
  	  </div>
    </div>
  </div>

</div>
