<div class="Mockups">
  <img src="/assets/icons/mock.png" alt="QuikPath">
</div>

<div class="Customers">
  {{!-- <section>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="/assets/icons/addo_foods.png" alt="Addo Foods" style="height: 50px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/gs_fresh.png" alt="G's Fresh" style="height: 65px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/natures_way.png" alt="Natures Way" style="height: 55px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/raynor_foods.png" alt="Raynor Foods" style="height: 55px;">          
      </p>
    </nav>
  </section> --}}
    <div class="rapid-title columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Designed for cost-conscious customers</h3>
      </div>
    </div>
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
          <h3>Easy-to-use</h3>
          <h4>
            No pipettes or skilled professionals needed. Can be used by anyone in 3 simple steps.
          </h4>
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-ambulance size-lg"></i>
  				</figure>
  				<h3>Portable</h3>
  				<h4>
            The size of a small printer, it’s easy to transport and begin testing anywhere.
  				</h4>
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-coin size-lg"></i>
          </figure>
          <h3>Affordable</h3>
  				<h4>
            Low-cost tests so decision makers can take quick action without breaking the bank.
          </h4>
        </div>
  	  </div>
    </div>
  </div>
</div>
