<div class="Mockups">
  <img src="/assets/icons/mock.png" alt="QuikPath">
</div>

{{!-- <div class="Customers">
  <section>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="/assets/icons/addo_foods.png" alt="Addo Foods" style="height: 50px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/gs_fresh.png" alt="G's Fresh" style="height: 65px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/natures_way.png" alt="Natures Way" style="height: 55px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/raynor_foods.png" alt="Raynor Foods" style="height: 55px;">          
      </p>
    </nav>
  </section> --}}

  {{!-- <section class="video">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <youtube :video-id="video1"></youtube>
          <iframe class: width="565px" height="300px" src="https://youtube.com/embed/XAES9QwWEOs" allowfullscreen></iframe>
        </div> 
      </div>
    </div>
  </section> --}}
  
    <div class="rapid-title columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Designed for widespread testing</h3>
      </div>
    </div>
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
          <h3>Effortless</h3>
          <h4>
            Just spit into a cartridge and put it in the device. No need for pipettes and painful sampling procedures. 
            
          </h4>
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-target size-lg"></i>
  				</figure>
  				<h3>Accurate</h3>
  				<h4>
            Isothermal PCR delivers near-lab accuracy so you can make confident and informed decisions. 
  				</h4>
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni lni-bolt size-lg"></i>  
          </figure>
          <h3>High volume</h3>
  				<h4>
            A portable device that processes 10 samples in 40 minutes so you can start testing anywhere.
          </h4>
        </div>
  	  </div>
    </div>
  </div>
</div>
