<div class="Developers">

  <div class="Mockups">
    <img src="/assets/icons/mock.png" alt="QuikPath">
  </div>

  <div class="blurb">
    <section>
      <nav class="level">
        <p class="level-item has-text-centered">
          <img src="/assets/icons/addo_foods.png" alt="Addo Foods" style="height: 50px;">
        </p>
        <p class="level-item has-text-centered">
          <img src="/assets/icons/gs_fresh.png" alt="G's Fresh" style="height: 65px;">
        </p>
        <p class="level-item has-text-centered">
          <img src="/assets/icons/natures_way.png" alt="Natures Way" style="height: 70px;">
        </p>
        <p class="level-item has-text-centered">
          <img src="/assets/icons/raynor_foods.png" alt="Raynor Foods" style="height: 55px;">          
        </p>
      </nav>
    </section>
    <div class="rapid-title columns has-text-centered is-centered logosarea">
      <div class="column is-8">
        <h3 class="title">Rapid testing revolutionized</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
  				<h3>1 Tube</h3>
  				<h4>
  					A single-tube reaction designed to be to used by anyone, no special skills required.
  				</h4>
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-dashboard size-lg"></i>
          </figure>
          <h3>1 CFU</h3>
  				<h4>
						Detects 1 CFU per swab, so you can seek and destroy pathogens with confidence.
          </h4>
        </div>
  	  </div>
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
						<i class="lni-bolt size-lg"></i>
  				</figure>
          <h3>1 hour</h3>
          <h4>
            Less than 60 minutes total time-to-result, no enrichment needed. 
          </h4>
  			</div>
      </div>
    </div>
  </div>

</div>
