
<div class="MainHero">
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
              Detect pathogens in 1 hour 
    	      </h1>
            <div class="sub">
              <h2 class="">
              Easy-to-use rapid test detects 1 CFU per swab enabling quick corrective action
              </h2>
            </div>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Join Waiting List</a>
            </p>
  				</div>

  			</div>
      </div>

    </div>
  </section>
</div>

{{!-- <div class="Mockups">
  <img src="/assets/icons/mockup.png" alt="QuikPath" />
  <img src="/assets/icons/logo_and_name.svg" alt="QuikPath" height="30" />

  <img id="support" src="/assets/icons/mockup.png" alt="QuikPath">

</div> --}}


